<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
    <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
  </ng-container>

  <ng-container matColumnDef="disciplina">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Disciplina </th>
    <td mat-cell *matCellDef="let element"> {{element.disciplina}} </td>
  </ng-container>

  <ng-container matColumnDef="professor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Professor </th>
    <td mat-cell *matCellDef="let element"> {{element.professor}} </td>
  </ng-container>

  <ng-container matColumnDef="semestre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Semeste </th>
    <td mat-cell *matCellDef="let element"> {{element.semestre}} </td>
  </ng-container>

  <ng-container matColumnDef="sala">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sala </th>
    <td mat-cell *matCellDef="let element"> {{element.sala}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
