<h1>Cadastrar Avaliação</h1>
<form [formGroup]="evaluationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" name="nome" id="nome" formControlName="nome">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Peso</mat-label>
      <input matInput placeholder="Peso" name="peso" id="peso" formControlName="peso">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Grau</mat-label>
      <input matInput placeholder="Grau" name="grau" id="grau" formControlName="grau">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Descrição" name="descricao" id="descricao" formControlName="descricao">
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary" type="submit">Cadastrar</button>
</form>
