@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
  caret-color: #1976D2;
}

.mat-icon{ font-family: 'Material Icons' !important; }

html, body { height: 100%; }

body { margin: 0 }
